# This is the initial RC function that should be added to the local rc file to initiate the command when connecting to a server.

function sshtool(){
        /usr/bin/ssh "$@" -t 'bash --rcfile $(
		# Link to main RC file.
		LINK="https://git.servergur.us/gurudavid/sshtool/raw/master/php/main.php"
		RCNAME="sshtool_main.rc"

                if [ -w /dev/shm/ ]; then
                        if curl -k -fsSo /tmp/$RCNAME $LINK ; then
                                echo /tmp/$RCNAME
                        else
                                echo "~/.bashrc"; 
                                echo "Using ~/.bashrc" 1>&2; 
                        fi
                else
                        if wget -nv -O /tmp/$RCNAME $LINK 2>&1 |grep -v '/tmp/$RCNAME' 1>&2 ; then 
                                echo "~/.bashrc"; 
                                echo "Using ~/.bashrc" 1>&2; 
                        else
                                echo "/tmp/$RCNAME"
                        fi
                fi
        )'
}

